.preLabel {
    -fx-text-fill : rgb(8, 8, 121) ;
    -fx-font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to occupy the full viewport height */
}